<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperar Contraseña</title>
  <link rel="icon" type="image/png" sizes="16x16" href="/imagenes/favicon.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/passwordstyle.css">
</head>
<body>
  <div class="container">
    <div class="logo">
      <img src="/imagenes/logo.jpg" alt="Logo">
    </div>
    <h2 class="form-title">Recuperar Contraseña</h2>
    <form>
      <div class="input-container">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Nombre de Usuario" required name="txtUsuario">
      </div>
      <div class="input-container">
        <i class="fas fa-envelope"></i>
        <input type="email" placeholder="Correo Electrónico" required name="txtCorreo">
      </div>
      <button type="submit" class="submit-btn">Recuperar Contraseña</button>
    </form>
  </div>
  <div class="footer">
    <p>Derechos de autor &copy; 2023 - Championship Craft</p>
  </div>
</body>
</html>


