<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Championship Craft</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/registerstyle.css">
</head>
<body>
    <header>
        <p class="success-message"><strong>Pago realizado!</strong></p>
    </header>
    <main>
    	<img src="/imagenes/logo.jpg" alt="Logo">
    	<div class="info-container">

	        <p><span>Se realizo la operación correctamente.</span></p>
			<a href="/home">Regresar a la pagina principal</a>
		</div>
    </main>
    <footer>
        <p>Derechos de autor &copy; 2023 - Championship Craft</p>
    </footer>
</body>
</html>
